# Aliases
alias tfdocs="terraform-docs markdown table --output-mode replace --output-file README.md ."
alias git-fuck="git add .; git commit --amend --no-edit; git push -f"
alias nvim-sync="nvim --headless '+Lazy! sync' +qall"
alias lg="lazygit"
alias 1p="op run --env-file='/home/{{ ansible_user_id }}/.env' --"
alias 1plogin='eval "$(op signin)"'
